    body{
        border-left: 1px solid #777;
        border-right: 1px solid #777;
    } 
    .navbar{
          margin-bottom: 0;
      }
      .navbar-nav button,.btn-hide{
          border: none;
          background-color: inherit;
          color: #777;
          outline: none;
      }
      .img-responsive{
          margin: 0 auto;
      }
      @media screen and (max-width:767px){
          .img-responsive .img-responsive-details{
              width: 60px;
          }
          .product-front-right{
              margin-top: 20px;
          }
      }
      .details, .product-front, .product-item{
          padding-top: 20px;
          padding-bottom: 10px;
          border-top: 1px solid #777;
          border-bottom: 1px solid #777;
      }
      .details{
          color: #777;
      }
      .details .details-header{
          font-weight: 600;
          font-size: 18px;
      }
      .details span{
          font-size: 13px;
      }
      .latest-news > div{
          margin-bottom: 5px;
      }
      .gift{
          margin-top: 20px;
          margin-bottom: 10px;
      }
      .gift .gift-header{
          font-size: 16px;
          font-weight: 600;
      }
      .product-item .clearfix .pull-left, .product-item .clearfix .pull-right, .product-item .lead{
          font-weight: 600;
      }
      .product-item .thumbnail{
          position: relative;
      }
      .product-item .label{
          position: absolute; top: 4px; right: 4px; display: block; padding: 6px;
      }
.login{
    border-top: 1px solid;
    color: #777;
    margin-bottom: 30px;
}
.login .content-inside-login .btn{
    border: 1px solid;
}
.breadcrumb{
    margin-top: 20px;
    border: 1px solid;
}
.breadcrumb a{
    font-size: 15px;
    color: #777;
}
.post{
    border-top: 1px solid #777;
}
.post .lead, .post .define{
    font-weight: 600;
}
.product{
    margin-bottom: 20px;
}
.product-produce .container, .product-verbal .container{
    padding-bottom: 20px;
    border-bottom: 1px solid;
}
.product-reviews{
    margin-top: 20px;
}
.product-reviews .container{
    padding-bottom: 20px;
    border-bottom: 1px solid;
}
.pager-header{
    border: 1px solid #777;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.category .pagination li a{
    color: black;
}
.category .pagination li{
    background-color: #777;
}
.category{
    padding-bottom: 20px;
}
.register{
    padding-bottom: 15px;
}
.register a{
    color: #777;
}